<div>Build a report</div>

<div ng-show="errorMsg">{{errorMsg}}</div>
<div ng-hide="isAuthenticated">
Looks like you've not authenticated with Trello yet. Do so <a href="/oAuth?landing=/index.html#/buildJarb">here</a>
</div>

<div ng-show="isAuthenticated">
	<form novalidate class="simple-form">		
		<div>Organizations:</div>
		<div>
			<ol>
				<org ng-repeat="org in organizations| orderBy:displayName">
					<li>
						<div ng-model="collapsed" ng-click="collapsed=!collapsed">{{org.displayName}}</div>
						<div ng-show="collapsed">
							<ul>
								<li ng-repeat="board in org.boards | orderBy:board.name" data-id="{{board.id}}">
									<input type="checkbox" ng-model="formData.selectedBoards[board.id]" name="selectedBoards" value="{{board.id}}" />{{board.name}}
								</li>
							</ul>
						</div>
					</li>
				</org>
			</ol>
		</div>

	</form>
	 <pre>
        {{ formData }}
    </pre>
</div>