<div class="header"><h3>Build a report</h3></div>

<div ng-show="errorMsg">{{errorMsg}}</div>
<div ng-hide="isAuthenticated">
Looks like you've not authenticated with Trello yet. Do so <a href="/oAuth?landing=/index.html#/buildJarb">here</a>
</div>

<div ng-show="isAuthenticated">
	<form novalidate class="simple-form css-form" ng-submit="postJob()">
		<div>
			<fieldset>
				<label for="recipient">Email address:</label>
				<input type="email" ng-model="formData.recipient" name="recipient" id="recipient" required/>
			</fieldset>
		</div>	
		<fieldset>
			<div><label>Organizations:</label></div>
			<div>
				<ol>
					<org ng-repeat="org in organizations| orderBy:displayName">
						<li>
							<div class="orgTitle" ng-model="collapsed" ng-click="collapsed=!collapsed">{{org.displayName}}</div>
							<div ng-show="collapsed">
								<ul>
									<li ng-repeat="board in org.boards | orderBy:board.name" data-id="{{board.id}}">
										<input type="checkbox" ng-model="formData.selectedBoards[board.id]" name="selectedBoards" value="{{board.id}}" />{{board.name}}
									</li>
								</ul>
							</div>
						</li>
					</org>
				</ol>
			</div>
		</fieldset>
		<div>
			<input type="submit" value="Create Report" />
		</div>
		
		
	</form>
	 <pre>
        {{ formData }}
    </pre>
</div>