<div class="jumbotron">
  <h1>Wilkommen!</h1>
  <p class="lead">
    Welcome to the Trello Baer
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>A Reporting system for Trello</h4>
  <p>
    The Trello Baer reporting pulls in cards from your Trello account on boards you select. These cards are all the "open" cards on your lists named "Done". This follows the kanban "To Do", "Doing", "Done", and "Backlog" cardwall model. 
  </p>

</div>
